
.div-tablero{
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: repeat(8,8rem);
    grid-template-rows: repeat(8,8rem);
    gap: 1rem;
    padding: 10rem;
}

.div-item{
    border: 3px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:5px 5px rgb(163, 162, 162);

    
    font-size: 7rem;
}